<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
		<meta charset="utf-8">
		<link href="../static/css/login.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	
	 <div class="main">
		<div class="login-form">
			<h1>欢迎注册！</h1>
					
				<form>
						<input type="text" class="text" placeholder="username" >
                        <input type="password" placeholder="password">
                        <input type="email" placeholder="email">
						<div class="submit">
							<input type="submit" onclick="myFunction()" value="注册" >
					</div>	
				</form>
			</div>
			
		</div>
			
		 		
</body>
</html>